
<mat-toolbar color="primary">
  <div>WHITE HOUSE TASK</div>
</mat-toolbar>
<div class="container my-4 col-md  ">
  <!--tabs-->
  <mat-tab-group>
    <mat-tab label="chennai">
      <!--chennai table-->
      <div class="text-center my-2 bg-secondary"><h1><b>CHENNAI TABLE CONTENT</b></h1></div>
  <table class="table table-bordered ">
    <thead>
      <tr>
        <th>S NO</th>
        <th>ITEM1</th>
        <th>ITEM2</th>
        <th>ITEM3</th>
        <th class="text-center"><button class="btn btn-primary" (click)="addTable(rowC)">Add Row</button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i = index;let r of rowC">
        <td>{{i+1}}</td>
        <td><input type="number" [(ngModel)]="r.item1">
          <span *ngIf="item1Total(rowC)>10000" class="alert text-danger alert-danger">*Limit exceeded please check the input</span>
        </td>
        <td><input type="number" [(ngModel)]="r.item2"> 
          <span *ngIf="item2Total(rowC)>10000" class="alert text-danger alert-danger">*Limit exceeded please check the input</span>
        </td>
        <td><input type="number" [(ngModel)]="r.item3">
          <span *ngIf="item3Total(rowC)>10000" class="alert text-danger alert-danger">*Limit exceeded please check the input</span>
        </td>
        <td><button class="btn"  (click)="addTable(rowC)"><mat-icon color="primary">add</mat-icon></button> <button class="btn" (click)="deleteRow(rowC,i)" ><mat-icon class="text-danger">delete</mat-icon></button></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td><b>TOTAL</b></td>
        <td>{{item1Total(rowC)}}</td>
        <td>{{item2Total(rowC)}}</td>
        <td>{{item3Total(rowC)}}</td>
        <td></td>
      </tr>
    </tfoot>
  </table>
    </mat-tab>
    <mat-tab label="banglore">
      <!--banglore table-->
      <div class="text-center my-2 bg-secondary"><h1><b>BANGLORE TABLE CONTENT</b></h1></div>
      <table class="table table-bordered ">
        <thead>
          <tr>
            <th>S NO</th>
            <th>ITEM1</th>
            <th>ITEM2</th>
            <th>ITEM3</th>
            <th class="text-center"><button (click)="addTable(rowB)" class="btn btn-primary">Add Row</button></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i = index;let r of rowB">
            <td>{{i+1}}</td>
            <td><input type="number" [(ngModel)]="r.item1">
              <span *ngIf="item1Total(rowB)>10000" class="alert text-danger alert-danger">*Limit exceeded please check the input</span>
            </td>
            <td><input type="number" [(ngModel)]="r.item2"> 
              <span *ngIf="item2Total(rowB)>10000" class="alert text-danger alert-danger">*Limit exceeded please check the input</span>
            </td>
            <td><input type="number" [(ngModel)]="r.item3">
              <span *ngIf="item3Total(rowB)>10000" class="alert text-danger alert-danger">*Limit exceeded please check the input</span>
            </td>
            <td><button class="btn"  (click)="addTable(rowB)"><mat-icon color="primary">add</mat-icon></button> <button class="btn" (click)="deleteRow(rowB,i)" ><mat-icon class="text-danger">delete</mat-icon></button></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td><b>TOTAL</b></td>
            <td>{{item1Total(rowB)}}</td>
            <td>{{item2Total(rowB)}}</td>
            <td>{{item3Total(rowB)}}</td>
            <td></td>
          </tr>
        </tfoot>
      </table>
    
   </mat-tab>
   <mat-tab label="Kochi">
      <!--kochi table-->
      <div class="text-center my-2 bg-secondary"><h1><b>KOCHI TABLE CONTENT</b></h1></div>
      <table class="table table-bordered ">
        <thead>
          <tr>
            <th>S NO</th>
            <th>ITEM1</th>
            <th>ITEM2</th>
            <th>ITEM3</th>
            <th class="text-center"><button (click)="addTable(rowK)" class="btn btn-primary">Add Row</button></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i = index;let r of rowK">
            <td>{{i+1}}</td>
            <td><input type="number" [(ngModel)]="r.item1">
              <span *ngIf="item1Total(rowK)>10000" class="alert text-danger alert-danger">*Limit exceeded please check the input</span>
            </td>
            <td><input type="number" [(ngModel)]="r.item2"> 
              <span *ngIf="item2Total(rowK)>10000" class="alert text-danger alert-danger">*Limit exceeded please check the input</span>
            </td>
            <td><input type="number" [(ngModel)]="r.item3">
              <span *ngIf="item3Total(rowK)>10000" class="alert text-danger alert-danger">*Limit exceeded please check the input</span>
            </td>
            <td><button class="btn"  (click)="addTable(rowK)"><mat-icon color="primary">add</mat-icon></button> <button class="btn" (click)="deleteRow(rowK,i)" ><mat-icon class="text-danger">delete</mat-icon></button></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td><b>TOTAL</b></td>
            <td>{{item1Total(rowK)}}</td>
            <td>{{item2Total(rowK)}}</td>
            <td>{{item3Total(rowK)}}</td>
            <td></td>
          </tr>
        </tfoot>
      </table>
    
   </mat-tab>
   <mat-tab label="Mumbai">
      <!--mumbai table-->
      <div class="text-center my-2 bg-secondary"><h1><b>MUMBAI TABLE CONTENT</b></h1></div>
      <table class="table table-bordered ">
        <thead>
          <tr>
            <th>S NO</th>
            <th>ITEM1</th>
            <th>ITEM2</th>
            <th>ITEM3</th>
            <th class="text-center"><button (click)="addTable(rowM)" class=" btn btn-primary">Add Row</button></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i = index;let r of rowM">
            <td>{{i+1}}</td>
            <td><input type="number" [(ngModel)]="r.item1">
              <span *ngIf="item1Total(rowM)>10000" class="alert text-danger alert-danger">*Limit exceeded please check the input</span>
            </td>
            <td><input type="number" [(ngModel)]="r.item2"> 
              <span *ngIf="item2Total(rowM)>10000" class="alert text-danger alert-danger">*Limit exceeded please check the input</span>
            </td>
            <td><input type="number" [(ngModel)]="r.item3">
              <span *ngIf="item3Total(rowM)>10000" class="alert text-danger alert-danger">*Limit exceeded please check the input</span>
            </td>
            <td><button class="btn"  (click)="addTable(rowM)"><mat-icon color="primary">add</mat-icon></button> <button class="btn" (click)="deleteRow(rowM,i)" ><mat-icon class="text-danger">delete</mat-icon></button></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td><b>TOTAL</b></td>
            <td>{{item1Total(rowM)}}</td>
            <td>{{item2Total(rowM)}}</td>
            <td>{{item3Total(rowM)}}</td>
            <td></td>
          </tr>
        </tfoot>
      </table>
    
   </mat-tab>
  </mat-tab-group>  
</div>